body {
    background-color: #F2EDD7;
    color: #3A6351;
    font-family: Arial;
}

H1 {
    font-size: 40px;
}

.Topnav {
    background-color: #A0937D;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
}

.TopButton {
    background-color: #3A6351;
    display: inline-block;
    font-size: 30px;
    color: #F2EDD7;
    padding: 10px;
}

.NewGameButton {
    background-color: #3A6351;
    display: inline-block;
    font-size: 20px;
    color: #F2EDD7;
    padding: 5px;
}

.Right {
    float: right;
}

.Center {
    text-align: center;
}

.ColumnCentral {
    width: 40%;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    margin-top: 15px;
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: auto;
    background-color: #A0937D;
}

.HeaderOverview {
    font-size: 25px;
    text-align: center;
}