body {
    background-color: #F2EDD7;
    color: #3A6351;
    font-family: Arial;
}

H1 {
    font-size: 40px;
}

.Topnav {
    background-color: #A0937D;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
}

.TopButton {
    background-color: #3A6351;
    display: inline-block;
    font-size: 30px;
    color: #F2EDD7;
    padding: 10px;
}

table {
    border: 2px solid #3A6351;
    border-collapse: collapse;
}

td {
    padding: 0px;
    border-collapse: collapse;
}

tr {
    line-height: 0px;
}

.Right {
    float: right;
}

.Center {
    text-align: center;
}
