{% extends "Game/base.html" %}
{% block content%}
{% load mathfilters %}

<style>
    table {
        border: 0px;
    }

    td {
        padding: 10px;
    }

    tr {
        line-height: 10px;
        padding: 10px;
    }

    .Inputfield {
        font-size: 20px;
    }
</style>

<h1>Terra Nova - End </h1>

<div class="Topnav">
    Food: {{ Main.Food }}
    {% if Main.Phase > 1 %}
        &emsp; Population: {{ Main.Population }}
    {% endif %}
    <div class="Right">
        Year: {{ Main.Year }}
    </div>
</div>

<center>
    <div class="ColumnCentral" style="height: auto;">
        {% if Main.GameEnded == False %}
            <div class="HeaderOverview"> Keep on playing the game has not ended yet</div><br>
            <div class="Center">Go back to the <a href="/">World Map</a></div>
        {% else %}
            <div class="HeaderOverview"> The game has ended </div><br><hr><br>
            <div class="Center"> As the high priest predicted great droughts have struck the world</div><br>
            <div class="Center"> Sadly enough you didn't gather enough food (minimal 500), your tribe did not survive the drought!</div><br>

            <form method="POST">
                {% csrf_token %}
                <div class="Center">
                    <input class="NewGameButton" type="Submit" name="Start new game" value="Start new game">
                </div>
            </form>

        <br><hr><br>

            {% if Main.SubmitHighscore == True %}
                <form method="POST">
                    {% csrf_token %}
                    <center>
                        <input class="Inputfield" type="text" maxlength="15" placeholder="Put your name here" name="Name" required>
                        <input class="NewGameButton" type="Submit" name="Submit Highscore" value="Submit Highscore">
                    </center>
                </form><br>
            {% endif %}
        {% endif %}

        <div class="HeaderOverview"> Highscore </div><br>

        <center>
            <table>
                {% for r in Highscore %}
                    <tr>
                        <td>{{ r.Name }}</td>
                        <td>{{ r.Food }}</td>
                    </tr>
                {% endfor %}
            </table>
        </center>

    </div>
</center>

{% endblock content %}