{% extends "Game/base.html" %}
{% block content%}
{% load mathfilters %}
{% load index %}

<!-- https://www.colorhunt.co/palette/5f939a3a6351a0937df2edd7 -->
<style>

    .row:after {
          content: "";
          display: table;
          clear: both;
    }

    table {
        border: 2px solid #3A6351;
        border-collapse: collapse;
    }

    td {
        padding: 0px;
        border-collapse: collapse;
    }

    tr {
        line-height: 0px;
    }
    .ColumnLeft {
        float: left;
        width: 60%;
        padding: 15px;
        margin-top: 15px;
        margin-right: 7px;
        margin-bottom: 15px;
    }

    .ColumnRight {
        float: right;
        width: 25%;
        height: 500px;
        padding: 15px;
        border-style: solid;
        border-width: 2px;
        margin-top: 15px;
        margin-left: 7px;
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: #A0937D;
    }

    .Toolbox {
        height: 70px;
    }

    .Infobox {
        background-color: #F2EDD7;
        color: #3A6351;
        height: 360px;
        padding: 5px;
        border: 2px solid #3A6351;
        overflow: auto;
    }

    .Tile  {
        height: 25px;
        width: 25px;
        border: 1px dotted #F2EDD7;
    }

    .Grass {
        background-color: green;
    }

    .Water {
        background-color: blue;
    }

    .Undiscovered {
        background-color: #A0937D;
    }
</style>

<h1>Terra Nova - World map

    <div class = "Right">
        <form method="POST">
            {% csrf_token %}
            {% if Main.GameEnded == False %}
                <input class="TopButton" type="Submit" name="Next Year" value="Next Year">
            {% else %}
                <input class="TopButton" type="Submit" name="End Game" value="End Game">
            {% endif %}
        </form>
    </div>
</h1>

<div class="Topnav">
    Food: {{ Main.Food }}
    <div class="Right">
        Year: {{ Main.Year }}
    </div>
</div>

<!--    We use the ranges created in the views-page to go from square to square
Every square we fill with the terrain from the terrain list we made in views
We use the templatetag "mathfilters" to be able to multiple within the html code
We use the templatetag "index" to call all the terrains from the list-->
<div class="row">
    <div class="ColumnLeft">
        <form method="POST">
            {% csrf_token %}
            <table>
                {% for r in RowsRange %}
                    <tr>
                        {% for c in ColumnsRange %}
                            {% with n=r|mul:Columns|add:c %}
                                <td><button class="{{ Square_terrain|index:n }} Tile" type="Submit" name="Square" value={{n}}></button></td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
        <!-- This forms takes the requested number of rows and columns and puts it trough to views >> logic >> create.py -->

    </div><!-- ColumnLeft -->

    <div class="ColumnRight">
        <div class="Toolbox">
            -- Information --<br><br>
             Click <a href="/overview">here</a> to go to the overview page
        </div>

        <div class="Infobox">
            {% for line in Infobox %}
                >{{ line }} <br>
            {% endfor %}
        </div>
        <br>

        <form method="POST">
            {% csrf_token %}
            Want to give up and try again?
            <input class="NewGameButton" type="Submit" name="Start new game" value="Start new game">
        </form>
    </div><!-- ColumnRight -->
</div><!-- "row"-->

{% endblock content %}