{% extends "Game/base.html" %}
{% block content%}
{% load mathfilters %}
{% load index %}

<!-- https://www.colorhunt.co/palette/5f939a3a6351a0937df2edd7 -->
<style>
    body {
        background-color: #F2EDD7;
        color: #3A6351;
        font-family: Arial;
    }

    H1 {
        font-size: 40px;
    }

    .Topnav {
        background-color: #A0937D;
        border-style: solid;
        border-width: 2px;
        padding: 15px;
    }

    .row:after {
          content: "";
          display: table;
          clear: both;
    }

    .NextYearButton {
        background-color: #3A6351;
        display: inline-block;
        font-size: 30px;
        color: #F2EDD7;
        padding: 10px;
    }

    .Right {
        float: right;
    }

    .ColumnLeft {
        float: left;
        width: 60%;
        padding: 15px;
        margin-top: 15px;
        margin-right: 7px;
        margin-bottom: 15px;
    }

    .ColumnRight {
        float: right;
        width: 25%;
        height: 500px;
        padding: 15px;
        border-style: solid;
        border-width: 2px;
        margin-top: 15px;
        margin-left: 7px;
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: #A0937D;
    }

    .Toolbox {
        height: 275px;
    }

    .Infobox {
        background-color: #F2EDD7;
        color: black;
        height: 220px;
        padding: 5px;
    }

    .Grass {
        background-color: green;
    }

    .Water {
        background-color: blue;
    }

    .Undiscovered {
        background-color: black;
    }
</style>

<h1>Terra Nova

    <div class = "Right">
        <form method="POST">
            {% csrf_token %}
            <input class="NextYearButton" type="Submit" name="Next Year" value="Next Year">
        </form>
    </div>
</h1>

<div class="Topnav">
    Money: {{ Main.Money }}
    <div class="Right">
        Year: {{ Main.Year }}
    </div>
</div>

<!--    We use the ranges created in the views-page to go from square to square
Every square we fill with the terrain from the terrain list we made in views
We use the templatetag "mathfilters" to be able to multiple within the html code
We use the templatetag "index" to call all the terrains from the list-->
<div class="row">
    <div class="ColumnLeft">

        <form method="POST">
            {% csrf_token %}
            <table>
                {% for r in RowsRange %}
                    <tr>
                        {% for c in ColumnsRange %}
                            {% with n=r|mul:Columns|add:c %}
                                <td><input class={{ Square_terrain|index:n }} type="Submit" name="Square" value={{n}}></td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
        <!-- This forms takes the requested number of rows and columns and puts it trough to views >> logic >> create.py -->

        <br>
        <form method="POST">
            {% csrf_token %}
            <p>Rows:</p>
            <input type="number" name="Rows"><br>
            <p>Columns:</p>
            <input type="number" name="Columns"><br>
            <input type="Submit" name="Create" value="Create">
        </form>

    </div><!-- ColumnLeft -->

    <div class="ColumnRight">
        <div class="Toolbox">
            --Toolbox--
        </div>

        <div class="Infobox">
            {% for line in Infobox %}
                >{{ line }} <br>
            {% endfor %}
        </div>
    </div><!-- ColumnRight -->
</div><!-- "row"-->

{% endblock content %}