{% extends "Game/base.html" %}
{% block content%}
{% load mathfilters %}

<style>

     .ColumnEvent{
        width: 50%;
        padding: 15px;
        border-style: solid;
        border-width: 2px;
        margin-top: 15px;
        margin-left: auto;
        margin-bottom: 15px;
        margin-right: auto;
        background-color: #5F939A;
        color: #F2EDD7;
    }

    .HeaderEvent {
        font-size: 25px;
        text-align: center;
        color: #F2EDD7;
    }

    .ButtonEvent {
        background-color: #F2EDD7;
        display: inline-block;
        font-size: 20px;
        color: #F2EDD7;
        padding: 10px;
        margin: 10px;
        margin-top: 30px;
        color: #3A6351;
    }
</style>

<h1>Terra Nova - Overview

    <div class = "Right">
        <form method="POST">
            {% csrf_token %}
            {% if Main.GameEnded == False %}
                <input class="TopButton" type="Submit" name="Return" value="Return">
            {% else %}
                <input class="TopButton" type="Submit" name="End Game" value="End Game">
            {% endif %}
        </form>
    </div>
</h1>

<div class="Topnav">
    Food: {{ Main.Food }}
    <div class="Right">
        Year: {{ Main.Year }}
    </div>
</div>

{% if Main.Year == 10 and Main.Phase == 2 %}
    <div class="ColumnEvent">
        <div class="HeaderEvent"> Survival </div><br>
        <div class="Center">
            As the high priest predicted great droughts have struck the world.
            Luckily you gathered more than enough food which made your tribe survive the drought.<br><br>

            The hope of your tribe was that after the drought, things would get back to normal.
            Sadly enough this proofed to be an illusion. The world around you has changed for the worse.
            There used to be many small tribes minding there own business.
            The drought has started a race for survival which can not be stopped.
            It has become clear that you either eat or be eaten as tribe.
            The other tribes have started to militarize, you must follow and prepare for war...
        </div>
    </div>
{% endif %}

{% if Main.StartEvent == True or Main.EndEvent == True%}
    <div class="ColumnEvent">
        <div class="HeaderEvent"> Event </div><br>
        <div class="Center">
            {{ Main.TextEvent }} <br>

            {% if Main.StartEvent == True %}
                <form method="POST">
                    {% csrf_token %}
                    <button class="ButtonEvent" type="Submit" name="EventButton" value="EventButton1">{{ Main.EventButton1 }}</button>
                    <button class="ButtonEvent" type="Submit" name="EventButton" value="EventButton2">{{ Main.EventButton2 }}</button>
                </form>
            {% endif %}

            <br>
            {% if Main.EndEvent == True %}
                {{ Main.TextEndEvent }}
            {% endif %}

        </div>
    </div>
{% endif %}

<center>
    <div class="ColumnCentral">
        <div class="HeaderOverview"> Yearly overview </div><br>
        <div class="Center"> Start of year {{ Main.Year }}<br>
            <hr><br>
            {% with GrassFood=Main.NumberOfGrassTiles|mul:Main.FoodForGrassCurrentYear WaterFood=Main.NumberOfWaterTiles|mul:Main.FoodForWaterCurrentYear FarmFood=Main.NumberOfFarmTiles|mul:Main.FoodForFarmCurrentYear %}
                {% if Main.Year != 0 %}
                    Grass: {{ Main.NumberOfGrassTiles }} tiles * {{ Main.FoodForGrassCurrentYear }} berries = <b>{{ GrassFood }}</b> extra food<br>
                    {% if Main.Boat == True %}
                        Water: {{ Main.NumberOfWaterTiles }} tiles * {{ Main.FoodForWaterCurrentYear }} fish = <b>{{ WaterFood }}</b> extra food<br>
                    {% endif %}
                    {% if Main.NumberOfFarmTiles > 0 %}
                        Farms: {{ Main.NumberOfFarmTiles }} tiles * {{ Main.FoodForFarmCurrentYear }} crops = <b>{{ FarmFood }}</b> extra food<br>
                    {% endif %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <br>

    <div class="ColumnCentral">
        <div class="HeaderOverview"> Explorations </div><br>
        <hr><br>

        {% if Main.Berry == True %}
            <b>Tastefull berries</b><br>
            Strawberries have increased food production per grass tile<br><br>
        {% endif %}

        {% if Main.Boat == True %}
            <b>Boat</b><br>
            Your knowledge of boats lets you discover water tiles<br><br>
        {% endif %}

        {% if Main.Sacrifice == True %}
            <b>Regular sacrifice</b><br>
            Every year you sacrifice 1 food per tile to the gods<br><br>
        {% endif %}
    </div>
</center>

{% endblock content %}