{% extends "Game/base.html" %}
{% block content%}
{% load mathfilters %}

<style>
     .ColumnEvent{
        width: 50%;
        padding: 15px;
        border-style: solid;
        border-width: 2px;
        margin-top: 15px;
        margin-left: auto;
        margin-bottom: 15px;
        margin-right: auto;
        background-color: #5F939A;
        color: #F2EDD7;
    }

    .HeaderEvent {
        font-size: 25px;
        text-align: center;
        color: #F2EDD7;
    }

    .ButtonEvent {
        background-color: #F2EDD7;
        display: inline-block;
        font-size: 20px;
        color: #F2EDD7;
        padding: 10px;
        margin: 10px;
        margin-top: 30px;
        color: #3A6351;
    }
</style>

<h1>Terra Nova - Overview

    <div class = "Right">
        <form method="POST">
            {% csrf_token %}
            {% if Main.GameEnded == False %}
                <input class="TopButton" type="Submit" name="Return" value="Return">
            {% else %}
                <input class="TopButton" type="Submit" name="End Game" value="End Game">
            {% endif %}
        </form>
    </div>
</h1>

<div class="Topnav">
    Food: {{ Main.Food }}
    <div class="Right">
        Year: {{ Main.Year }}
    </div>
</div>

{% if Main.StartEvent == True or Main.EndEvent == True%}
    <div class="ColumnEvent">
        <div class="HeaderEvent"> Event </div><br>
        <div class="Center">
            {{ Main.TextEvent }} <br>

            {% if Main.StartEvent == True %}
                <form method="POST">
                    {% csrf_token %}
                    <button class="ButtonEvent" type="Submit" name="EventButton" value="EventButton1">{{ Main.EventButton1 }}</button>
                    <button class="ButtonEvent" type="Submit" name="EventButton" value="EventButton2">{{ Main.EventButton2 }}</button>
                </form>
            {% endif %}

            <br>
            {% if Main.EndEvent == True %}
                {{ Main.TextEndEvent }}
            {% endif %}

        </div>
    </div>
{% endif %}

<div class="ColumnCentral">
    <div class="HeaderOverview"> Yearly overview </div><br>
    <div class="Center"> Start of year {{ Main.Year }}<br>
    <hr><br>
    {% with GrassFood=Main.NumberOfGrassTiles|mul:Main.FoodForGrassCurrentYear WaterFood=Main.NumberOfWaterTiles|mul:Main.FoodForWaterCurrentYear %}
        {% if Main.Year != 0 %}
            Grass: {{ Main.NumberOfGrassTiles }} tiles * {{ Main.FoodForGrassCurrentYear }} food = <b>{{ GrassFood }}</b> extra food<br>
            {% if Main.Boat == True %}
                Water: {{ Main.NumberOfWaterTiles }} tiles * {{ Main.FoodForWaterCurrentYear }} food = <b>{{ WaterFood }}</b> extra food<br>
            {% endif %}
        {% endif %}
    {% endwith %}
    </div>
</div>


{% endblock content %}