{% extends "Game/base.html" %}
{% block content%}
{% load mathfilters %}

<style>

     .ColumnEvent{
        width: 50%;
        padding: 15px;
        border-style: solid;
        border-width: 2px;
        margin-top: 15px;
        margin-left: auto;
        margin-bottom: 15px;
        margin-right: auto;
        background-color: #5F939A;
        color: #F2EDD7;
    }

    .War {
        background-color: #D35D6E;
        color: #0F0E0E;
        font-size: 20px;
    }

    .HeaderEvent {
        font-size: 25px;
        text-align: center;
        color: #F2EDD7;
    }

    .BlackLetters {
        color: #0F0E0E;
    }

    .ButtonEvent {
        background-color: #F2EDD7;
        display: inline-block;
        font-size: 20px;
        color: #F2EDD7;
        padding: 10px;
        margin: 10px;
        margin-top: 30px;
        color: #3A6351;
    }
</style>

<h1>Terra Nova - Overview

    <div class = "Right">
        <form method="POST">
            {% csrf_token %}
            {% if Main.GameEnded == False %}
                <input class="TopButton" type="Submit" name="Return" value="Return">
            {% else %}
                <input class="TopButton" type="Submit" name="End Game" value="End Game">
            {% endif %}
        </form>
    </div>
</h1>

<div class="Topnav">
    Food: {{ Main.Food }}
    {% if Main.Phase > 1 %}
        &emsp; Population: {{ Main.Population }}
    {% endif %}
    <div class="Right">
        Year: {{ Main.Year }}
    </div>
</div>

{% if Main.Year == 10 and Main.Phase == 2 %}
    <div class="ColumnEvent">
        <div class="HeaderEvent"> Survival </div><br>
        <div class="Center">
            As the high priest predicted great droughts have struck the world.
            Luckily you gathered more than enough food which made your tribe survive the drought.<br><br>

            The hope of your tribe was that after the drought, things would get back to normal.
            Sadly enough this proofed to be an illusion. The world around you has changed for the worse.
            There used to be many small tribes minding their own business.
            The drought has started a race for survival which can not be stopped.
            It has become clear that you either eat or be eaten as tribe.
            The other tribes have started to militarize, you must follow and prepare for war.
            In this age of simple man against man warfare having the largest army means winning the war.
            But large armies require food. And to produce food you need people working on the fields.
            It is all about the right balance...
        </div>
    </div>
{% endif %}

{% if Main.StartEvent == True or Main.EndEvent == True%}
    <div class="ColumnEvent">
        <div class="HeaderEvent"> Event </div><br>
        <div class="Center">
            {{ Main.TextEvent }} <br>

            {% if Main.StartEvent == True %}
                <form method="POST">
                    {% csrf_token %}
                    <button class="ButtonEvent" type="Submit" name="EventButton" value="EventButton1">{{ Main.EventButton1 }}</button>
                    <button class="ButtonEvent" type="Submit" name="EventButton" value="EventButton2">{{ Main.EventButton2 }}</button>
                </form>
            {% endif %}

            <br>
            {% if Main.EndEvent == True %}
                {{ Main.TextEndEvent }}
            {% endif %}

        </div>
    </div>
{% endif %}

<center>
    <div class="ColumnCentral">
        <div class="HeaderOverview"> Yearly overview </div><br>
        {% with LastYear=Main.Year|add:"-1" %}
        <div class="Center"> End of year {{ LastYear }}<br>
        {% endwith %}
            <hr><br>
            {% with GrassFood=Main.NumberOfGrassTiles|mul:Main.FoodForGrassCurrentYear WaterFood=Main.NumberOfWaterTiles|mul:Main.FoodForWaterCurrentYear %}
                {% if Main.Year != 0 %}
                    Grass: {{ Main.NumberOfGrassTiles }} tiles * {{ Main.FoodForGrassCurrentYear }} berries = <b>{{ GrassFood }}</b> extra food

                    {% if Main.Boat == True %}
                        <br>Water: {{ Main.NumberOfWaterTiles }} tiles * {{ Main.FoodForWaterCurrentYear }} fish = <b>{{ WaterFood }}</b> extra food
                    {% endif %}

                    {% if Main.NumberOfFarmTiles > 0 %}
                        <br>Farms: {{ Main.NumberOfFarmTiles }} farms * {{ Main.FoodForFarmCurrentYear }} crops * {{ Main.FarmEffectiveness }} percent effectiveness = <b>{{ Main.FarmFoodGained }}</b> extra food
                    {% endif %}

                    {% if Main.Phase > 1 and Main.Year > 10 %}
                        <br>Consumption: {{ Main.PopulationLastYear }} people eat = <b>-{{ Main.PopulationLastYear }}</b> less food
                    {% endif %}
                    <br><br> Total Change in food: <b>{{ Main.FoodGained }}</b><br>
                {% endif %}
            {% endwith %}

            {% if Main.Phase > 1 and Main.Year > 10 %}
                <br><hr><br>
                {% if Main.PopulationChange > 0 %}
                    Population: Being well-fed your idle population is blessed with <b>{{ Main.PopulationChange }} babies</b>
                {% elif Main.PopulationChange < 0 %}
                    Population: Due to the shortage of food your population decreases with <b>{{ Main.PopulationChange }}</b>
                {% elif Main.Idle == 0 %}
                    Population: There is nobody idle in the population, no population change occurs
                {% elif Main.PopulationChange == 0 %}
                    Population: There is exactly enough food, no population change occurs
                {% endif %}
                <br>
            {% endif %}

        </div>
    </div>

    {% if Main.War == True %}
        <div class="ColumnEvent War">
            <div class="HeaderEvent BlackLetters"> War </div><br>
            <div class="Center">
                A group of <b>{{ Main.WarOpponentSoldiers }}</b> evil looking armed men appear over the hills around your village.
                You recognize the flag they are carrying. It is one of the villages nearby.
                Their leader sits on a horse in front of the troops.<br><br>

                {% if Main.WarOutcome == "Win" %}
                    But after seeing your <b>{{ Main.Soldiers }}</b> soldiers functioning at
                    <b>{{ Main.SoldiersEffectivenessCurrentYear }}%</b> effectiveness the opponent doesn't look so sure anymore.
                    After a short while chaos breaks out among their ranks and the enemy flees back into the hills.
                    That night a big feast is held in your honor. Your wise choices have prevented armed conflict.
                {% elif Main.WarOutcome == "Small loss" %}
                    Your army of <b>{{ Main.Soldiers }}</b> soldiers functioning at <b>{{ Main.SoldiersEffectivenessCurrentYear }}%</b>
                    effectiveness is just slightly weaker than the enemy. It results in a <b>small loss</b>.
                    To prevent defeat you retreat behind the palisades. The enemy storms your lines but doesn't brake trough.
                    After a while the opponent gives up and retreats. They do take <b>{{ Main.WarFoodLost }}</b> food which
                    was not stored safely in the village. Sadly enough <b>{{ Main.WarPopulationLost }}</b> men are killed. But it could
                    have been so much worse...
                {% elif Main.WarOutcome == "Significant loss" %}
                    Your army of <b>{{ Main.Soldiers }}</b> soldiers functioning at <b>{{ Main.SoldiersEffectivenessCurrentYear }}%</b>
                    effectiveness is weaker than the enemy. It results in a <b>significant loss</b>.
                    After a heavy fight with many casualties you flee from the village and hide in the hills.
                    The enemy takes <b>{{ Main.WarFoodLost }}</b> food which was not hidden well enough. After the enemy soldiers
                    have left you go back to the village.
                    It becomes clear that <b>{{ Main.WarPopulationLost }}</b> people have been killed.
                {% elif Main.WarOutcome == "Huge loss" %}
                    Your army of <b>{{ Main.Soldiers }}</b> soldiers functioning at <b>{{ Main.SoldiersEffectivenessCurrentYear }}%</b>
                    effectiveness is much weaker than the enemy. It results in a <b>huge loss</b>.
                    After a short but deathly fight you surrender your village.
                    The enemy takes <b>{{ Main.WarFoodLost }}</b> food which is all they can carry. The war has resulted
                    in a horrible massacre, <b>{{ Main.WarPopulationLost }}</b> people have been killed.
                    Some of the killed people had expert knowledge about the surroundings. Some parts of the world
                    are <b>lost</b> again from collective knowledge.
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="ColumnCentral">
        <div class="HeaderOverview"> Explorations </div><br>
        <hr><br>

        {% if Main.Berry == True %}
            <b>Tastefull berries</b><br>
            Strawberries have increased food production per grass tile<br><br>
        {% endif %}

        {% if Main.Boat == True %}
            <b>Boat</b><br>
            Your knowledge of boats lets you discover water tiles<br><br>
        {% endif %}

        {% if Main.Sacrifice == True %}
            <b>Regular sacrifice</b><br>
            Every year you sacrifice 1 food per tile to the gods<br><br>
        {% endif %}

        {% if Main.Writing != "" %}
            <b>{{ Main.Writing }}</b><br>
            Your army and food production is more effective because of the use of writing<br><br>
        {% endif %}

        {% if Main.Pyramid == True %}
            <b>Pyramid</b><br>
            You own a large pyramid<br><br>
        {% endif %}

        {% if Main.Trojan == True %}
            <b>Trojan experience</b><br>
            Your army is more effective because of participating in the Trojan war<br><br>
        {% endif %}

        {% if Main.Codex == True %}
            <b>Codex</b><br>
            All rules are written down in the codex. Army and farmers are more effective.<br><br>
        {% endif %}

        {% if Main.Smith != "" %}
            <b>{{ Main.Smith }}</b><br>
            This metal is used to improve soldiers' outfits<br><br>
        {% endif %}
    </div>
</center>

{% endblock content %}